{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>MyFace</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container mx-5">
            <a class="navbar-brand" href="{% url 'main:index' %}">MyFace</a>
            <form class="form-inline my-2 my-lg-0" action="{% url 'main:search' %}" method="GET">
                <input class="form-control mr-sm-2" type="search" name="text" placeholder="Search..." aria-label="Search">
            </form>
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item dropdown">
                    {% if request.session.user_id %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.session.username}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="">Settings</a>
                        <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                    </div>
                    {% else %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'main:login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'main:register' %}">Register</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {% if request.session.user_id %}
    <div class="main-frame">
        <div class="sidebar pt-2">{% block sidebar %} {% endblock %}</div>
        <div class="content pt-3 pl-3">{% block content %} {% endblock %}</div>
    </div>
    {% else %}
        {% block pre-auth %} {% endblock %}
    {% endif %}
    <script src="{% static 'main/lib/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'main/lib/popper.min.js' %}"></script>
    <script src="{% static 'main/lib/bootstrap.min.js' %}"></script>
</body>
</html>

