{% extends 'main/base.html' %}

{% block pre-auth %}

<div class="container mt-4">
    <div class="row">
        <form class="offset-3 col-6" action="{% url 'main:register' %}" method="POST">
            {% csrf_token %}
            <input type="email" class="form-control form-group" name="email" placeholder="Email">
            <input type="text" class="form-control form-group" name="username" placeholder="Username">
            <input type="password" class="form-control form-group" name="password" placeholder="Password">
            <input type="password" class="form-control form-group" name="confirm" placeholder="Confirm">
            <button type="submit" class="btn btn-primary form-group">Register</button>
        </form>
    </div>
    <div class="row">
        <div class="offset-3 col-6">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{message}}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
