{% extends 'main/base.html' %}

{% block sidebar %}
<div class="text-right">
    <h2 class="mt-2 mb-5">{{wall_username}}</h2>
    <div><a href="{% url 'main:followings_of' following_user_id=wall_user_id %}">Following</a></div>
    <div><a href="{% url 'main:followers_of' followed_user_id=wall_user_id %}">Followers</a></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}

{% block content %}
<div class="pr-5">
    <form action="{% url 'main:add_post' %}" method="POST">
        {% csrf_token %}
        <div><textarea class="postarea p-2" name="text" cols="60" rows="3" placeholder="Share something..."></textarea></div>
        <input type="hidden" name="wall_user_id" value="{{wall_user_id}}">
        <button class="btn btn-info mt-1">Share</button>
    </form>
    <hr>
    {% for post in posts %}
    <div class="posting pt-1 px-3 my-3">
        {% if post.post_user.id == post.wall_user.id %}
        <p>{{post.post_user.username}}</p>
        {% else %}
        <p><a href="{% url 'main:wall' wall_user_id=post.post_user.id %}">{{post.post_user.username}}</a> > {{post.wall_user.username}}</p>
        {% endif %}
        <h3>{{post.text}}</h3>
        <div class="action">
            {% if post.post_user_id == request.session.logged_in_user_id or post.wall_user_id == request.session.logged_in_user_id %}
            <a href="{% url 'main:del_post' post_id=post.id %}">delete</a>
            {% else %}
            <a href="">&nbsp;</a>
            {% endif %}
            <p class="float-right">{{post.local_created_at}}</p>
        </div>
        <form class="py-2" action="{% url 'main:add_comment' %}" method="POST">
            {% csrf_token %}
            <input type="text" size="49" name="text" placeholder="Add comment...">
            <input type="hidden" name="post_id" value="{{post.id}}">
            <button class="ml-2 btn btn-sm btn-outline-primary">Save</button>
        </form>
        {% for comment in post.comments.all %}
        <div class="comment pl-3 pt-3">
            {{comment.text}}
            <div class="action">
                {% if comment.user_id == request.session.logged_in_user_id or post.wall_user_id == request.session.logged_in_user_id %}
                <a href="{% url 'main:del_comment' comment_id=comment.id %}">delete</a>
                {% else %}
                <a href="">&nbsp;</a>
                {% endif %}
                {% if comment.user_id == post.wall_user_id %}
                <p class="float-right">{{comment.user.username}} @ {{comment.local_created_at}}</p>
                {% else %}
                <p class="float-right"><a href="{% url 'main:wall' wall_user_id=comment.user_id %}">{{comment.user.username}}</a> @ {{comment.local_created_at}}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <p>&nbsp;</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

